 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
   width: 100%;
   height: 100vh;
   background: #121213;
   display: grid;
   place-items: center;
}

header
{
    position:relative;
    color: #fff;
    width: 85%;
    height: 95%;
    /* border: 2px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side
{
    box-shadow: 0px 0px 10px whitesmoke;
    width:25%;
    height: 90%;
    /* border: 2px solid #fff; */
    background: #111727;
}

header .song_side
{
    height: 90%;
    /* border: 2px solid #fff; */
    width:75%;
    background: #0b1320;
    box-shadow: 10px 0px 8px whitesmoke;
}

header .play
{
    width: 100%;
    height: 10%;
    background:black;
    box-shadow: 0px 10px 8px whitesmoke;
    /* border: 2px solid #fff; */
}

header .menu_side h1
{
   font-size:20px;
   font-weight: 500;
   margin:15px 0px 0px 20px;
}

header .menu_side .playlist
{
    margin: 40px 0px 0px 20px;
}

header .menu_side .playlist h4
{
    
    /* font-family:'Poppins', sans-serif ; */
    cursor: pointer;
    color: grey;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    transition: .2s linear;

}

header .menu_side .playlist h4:hover
{
    color:white;

}

header .menu_side .playlist h4 span
{
 position: relative;
 margin-right: 30px;

}

header .menu_side .playlist h4 span::before
{
 position:absolute;
 content:'';
 width: 4px;
 height: 4px;
 border-radius: 50%;
 border:2px solid grey;
 top:-4px;
 transition: .2s linear;

}

header .menu_side .playlist h4:hover span::before
{
    border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi
{
    display: none;
}

header .menu_side .playlist .active
{
    color: aqua;
}

header .menu_side .playlist .active span
{
    display: none;
}

header .menu_side .playlist .active .bi
{
   display: flex;
   margin-right: 18px;
}

header .menu_side .song_menu
{
  width: 100%;
  height: 300px;
  /* border: 2px solid #fff; */
  margin-top: 40px;
  overflow: auto;
}

header .menu_side .song_menu::-webkit-scrollbar
{
    display: none;
}

header .menu_side .song_menu li
{
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding: 5px 0px 5px 20px;
  margin-bottom: 10px;
  transition:.2s linear ;
  /* background:rgb(105, 105, 105, .1) ; */

}

header .menu_side .song_menu li:hover
{
    background:rgb(105, 105, 105, .1) ;
}

header .menu_side .song_menu li span
{
    font-size: 15px;
    font-weight: 600;
    color:grey;
}

header .menu_side .song_menu li img
{
    width:32px;
    height: 32px;
    margin-left: 20px;
}

header .menu_side .song_menu li h5
{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

header .menu_side .song_menu li h5 .subtitle
{
    font-size: 10px;
    color:orange;
}

header .menu_side .song_menu li .bi
{
    position: absolute;
    right: 15px;
    
}

header .play
{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .play .wave
{
    width: 30px;
    height: 30px;
    /* border: 2px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .play .wave .wave1
{
    width: 3px;
    height: 10px;
    background: aqua;
    margin-right: 3.5px;
    border-radius: 10px 10px 0px 0px;
    animation:unset;
}

header .play .wave .wave1:nth-child(2)
{
    
    height: 15px;
    margin-right: 3.5px;
    animation-delay: .6s;
     
}

header .play .wave .wave1:nth-child(3)
{
    animation-delay: .8s;
    height: 8px;
} 

/* javascript libraries and classes */

header .play .active1 .wave1
{
    animation: wave .5s linear infinite;
}

header .play .active1 .wave1:nth-child(2)
{
    animation-delay: .6s; 
}

header .play .active1 .wave1:nth-child(3)
{
    animation-delay: .8s;  
} 



@keyframes wave
{
    0%{
        height: 10px;
    }

    50%{
        height: 15px;
    }

    100%{
        height: 8px;
    }
}

header .play img
{
    width: 35px;
    height: 35px;
}

header .play h5
{
    width: 130px;
    color:#fff;
    margin-left: 15px;
    /* border: 2px solid #fff; */
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* font-size: 13px; */
}

header .play h5 .subtitle
{
    width:100%;
    color :greenyellow;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .play .icons
{
 font-size: 20px;
 margin:0px 20px 0px 40px;
 outline:none;
 display: flex;
 align-items: center; 
}

header .play .icons .bi
{
    cursor: pointer;
    outline: none;

}

header .play .icons .shuffle
{
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 19px;
    overflow: hidden;

}

header .play .icons #download
{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  
}

header .play .icons .bi:nth-child(3)
{
   border: ipx solid rgb(105, 105, 105, .2);
   border-radius: 50%;
   margin: 0px 5px;
   padding: 1px 5px 0px 7px;
}

header .play span
{
  color:#fff;
  width: 32px;
  font-size: 17px;
  font-weight: 400px;
}

header .play #start
{
    margin: 0px 0px 0px 20px;
}

header .play .bar
{
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105, 175, .2);
  margin: 15px 15px 13px;
}

header .play .bar .bar2
{
   position: absolute;
   background: aqua;
   width:0%; 
   height: 100%;
   top: 0;
   transition: 1s linear;
   margin-left:3px ;
}

header .play .bar .dot
{
    position: absolute;
    width: 5px;
    height: 5px;
    background:aqua;
    border-radius: 50%;
    top: -2px;
    left: 0%;
    transition: 1s linear;

}

header .play .bar .dot::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid aqua;
    border-radius: 50%;
    top: -6px;
    left: -6.5px;
    box-shadow: inset 0px 0px 3px aqua ;
    
}

header .play .bar input
{
 position: absolute;
 width: 100%;
 top: -6px;
 left: 0;
 cursor: pointer;
 z-index: 9999999999999999999999999;
 /* transition: 3s ; */
   opacity:0; 
}

header .play .volume
{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 175, .2);
    margin-left: 50px;
}

header .play .volume .bi
{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -13px;
    left: -33px;
}

header .play .volume input
{
    position: absolute;
    width: 100%;
    top: -8px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999;
    opacity: 0;
}

header .play .volume .vol_bar
{
    background: aqua;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .1s linear;
    height: 100%;
}

header .play .volume .dot
{
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid aqua;
    border-radius: 50%;
    top: -6px;
    left: 100px;
    box-shadow: inset 0px 0px 3px aqua ;
    transition: .1s linear;
}

header .play .volume .dot::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    /* border:1px solid yellow; */
    border-radius: 50%;
    top: -6px;
    left: -6.5px;
    /* box-shadow: inset 0px 0px 3px red ; */
}

header .song_side
{
    z-index: 2;
  
}

header .song_side::before
{
    content:'';
    position:absolute;
    width: 40%;
    height: 250px;
    background: url('03.png');
    z-index: -1;
    margin-left: 150px;  
}

header .song_side nav
{
    height: 9%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #fff; */
    
}

header .song_side nav ul
{
    display:flex;
}

header .song_side nav ul li
{
    list-style: none;
    position: relative;
   font-size: 14px;
   color: grey;
   margin-right: 25px;
   cursor: pointer;
   transition: .3s linear;
}

header .song_side nav ul li:hover
{
    color: #fff;
}

header .song_side nav ul li:nth-child(1)
{
    color: #fff;
}

header .song_side nav ul li span
{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;

}

header .song_side nav .search
{
    position: relative;
    padding: 1px 10px;
    width: 40%;
    border-radius:20px;
    /* border: 1px solid #fff; */
    color: grey;
}

header .song_side nav .search::before
{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgb(184, 184, 184, .2);
  backdrop-filter: blur(5px);
  z-index: -1;
}

header .song_side nav .search .searchss
{
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 200px;
  /* border: 1px solid #fff; */
  margin-top: 10px;
  border-radius: 10px;
}

header .song_side nav .search .searchss::-webkit-scrollbar
{
  display: none;
}  

header .song_side nav .search .searchss .themes
{
 min-height: 45px;
 width: 100%;
 /* border:  1px solid #fff; */
 display: flex;
 align-items: center;
 background: rgb(184, 184, 184, .1);
 margin-bottom:5px;
 text-decoration: none;
 /* justify-content: space-between; */
}

header .song_side nav .search .searchss .themes img
{
 border-radius: 5px;
 margin-left: 3px;
 width:35px;
 height:35px;
}

header .song_side nav .search .searchss .themes .infom
{
 /* border: 1px solid #fff; */
 padding: 0;
 width:80%;
 height:100%;
 font-size:30;
 font-weight: 600px;
 color: #fff;
 margin-left: 5px;
}

header .song_side nav .search .searchss .themes .infom .subtitle
{
font-size: 11px;
color: #a4a8b4;
font-weight: 500;

}

header .song_side nav .search .bi
{
    padding: 30px 0px 0px 10px;
    font-size: 13px;

}

header .song_side nav .search input
{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    /* font-size: 13px; */
}

header .song_side nav .user
{
   position: relative;
   width: 30px;
   height: 30px;
   border: 1px solid #fff;
   border-radius: 50%;

}

header .song_side nav .user img
{
    width:100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  #121213;
}

header .song_side .content
{
    width: 90%;
    height: 30%;
    /* border:1px solid #fff; */
    margin: auto;
    padding-top: 20px ;
}

header .song_side .content h1
{
   font-size: 25px;
   font-weight: 600px;
}

header .song_side .content p
{
   font-size: 15px;
   font-weight: 400px;
   color: grey;
   margin: 5px;
}

header .song_side .content .btn
{
 margin-top: 15px;
}

header .song_side .content .btn button
{
 width: 80px;
 border-radius: 20px;
 cursor: pointer;
 border:3px solid Aqua ;
 background-color: aquamarine;
}

header .song_side .content .btn button:hover
{
  background: none;
  color: #fff;
}


header .song_side .content .btn button:nth-child(2)
{
  background: none;
  color: #fff;
}

header .song_side .content .btn button:nth-child(2):hover
{
  background: aqua;
  color:black;
}

header .song_side .popular_songs
{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  /* border: 1px solid #fff;   */
}

header .song_side .popular_songs .h4
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_songs .h4 .bi
{
    color:#a4a8b4 ;
    cursor: pointer;
    transition: .2s linear;
}

header .song_side .popular_songs .h4 .bi:hover
{
    color: #fff;
}

header .song_side .popular_songs .pop_songs
{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow:auto;
    scroll-behavior: smooth;

}

header .song_side .popular_songs .pop_songs::-webkit-scrollbar
{  
   display: none;
}

header .song_side .popular_songs .pop_songs li
{
  min-width: 100px;
  height: 140px;
  list-style: none;
  margin-right: 10px;
  transition: .2s linear;

}

header .song_side .popular_songs .pop_songs li:hover
{
   background: rgb(105, 105, 170, .1);
}

header .song_side .popular_songs .pop_songs li .image_play
{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song_side .popular_songs .pop_songs li .image_play img
{
    width: 100%;
    height: 100%;
}

header .song_side .popular_songs .pop_songs li .image_play .bi
{
     position:absolute;
     font-size: 20px;
     cursor: pointer;
     transition: .2s linear;
     opacity: 0;

}

header .song_side .popular_songs .pop_songs li:hover .image_play .bi
{
     opacity: 1;
}

header .song_side .popular_songs .pop_songs li h5
{
     padding: 5px 0px 0px 5px;
     width: 100px;
     font-size: 10px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     
}

header .song_side .popular_songs .pop_songs li h5 .subtitle
{
     font-size: 9px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     color:orange;    
}

header .song_side .popular_artists
{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  /* border: 1px solid #fff;   */
}

header .song_side .popular_artists .h4
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi
{
    color:#a4a8b4 ;
    cursor: pointer;
    transition: .2s linear;
}

header .song_side .popular_artists .h4 .bi:hover
{
    color: #fff;
}

header .song_side .popular_artists .items
{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow:auto;
    scroll-behavior: smooth;

}

header .song_side .popular_artists .items::-webkit-scrollbar
{
    display: none;
}

header .song_side .popular_artists .items li
{
  list-style: none;
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 20%;
  cursor: pointer;
  margin-right: 20px;   
}

header .song_side .popular_artists .items li img
{
    width: 100%;
    height: 100%;
    border-radius:50%;
}
